
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
}


/* nav ber */
#navigation{
background-color: #1A0B2E;
    display: flex;
    justify-content:space-between;

    align-items: center;
    width: 100%;
    }
.nav-li:hover{
    color: aqua;
}
.nav-btn button:hover{
        color: #8f7fa5;
    }
.nav-li{
    display: flex;
    gap: 32px;
    list-style: none;
    color: white;
    padding: 24px;
    
}
.nav-btn button{
justify-content: center;
width: 135px;
height: 44px;
border-radius: 1000px;
color: white;
display: flex;
flex-direction: row;
align-items: center;
gap: 4;
border: none;
 font-size: 15px;
cursor: pointer;
border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
   
.nav-l{
    
    width: 65px;}

/* hero section */
#hero{
    background-image:url(assets/hero-bg.png);
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   aspect-ratio: 16 / 9;
   border: solid #2b1449;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}
.hero-center-img{

     position: relative;
    margin: 0,auto;
    display: flex;
    align-items: center;
    bottom: 70px;
    height:350px;
    width:350px ;
}


.box-circle{
 width: 100%;
 z-index: 1;


  }

.box-microphone{
    z-index: 2;
    position:absolute;
    left:110px ;

  
}

.box-new{
z-index: 3;
  position: absolute;
  left: 252px;
  top: 12px;
}
/* herocontent */

.hero-contant{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.btn{
    display: flex;
    flex-direction: row;
}
.hero-contant h1{
 font-size:l ;

}
.hero-contant p{
    opacity: 80%;
}
.btn1{
    justify-content: center;
width: 135px;
height: 44px;
border-radius: 1000px;
color: white;
display: flex;
flex-direction: row;
align-items: center;
gap: 4;
border: none;
 font-size: 15px;
cursor: pointer;
border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn2{
 justify-content: center;
width: 135px;
height: 44px;
border-radius: 1000px;
background-color: transparent;
display: flex;
flex-direction: row;
align-items: center;
gap: 4;
border: 1px solid green;
 font-size: 15px;
 color: black;
cursor: pointer;
border-radius: 10000px;


}

.btn :hover{
    color: #1A0B2E;
}
/* about section */
#about{
    background-color: #1A0B2E
}
.about-up{

    justify-content:space-between;

    align-items: center;
    width: 100%;

    text-align: center;
    gap:  20 px;
    
    align-items: center;
    
}
.about-up h1,p{color: white;padding-bottom: 20px;
    padding-top: 20px;


}
.about-up p{
    padding-left: 300px;
    padding-right: 300px;
}
.about-up p{
    
    opacity: 70%;
}

.about-bottom{
display: flex;
    justify-content:space-between;


    align-items: center;
    width: 100%;

    text-align: center;
    gap:  20 px;
    
    align-items: center;
    
}.about-bottom h1{
    color: #00FF88;

}

#why{
    background-color:#230E3D;
    height: 1122px;
    width: 1600px;
}
#why h1{color: white;
    text-align: center;
    padding: 20px 10px 20px 10px ;

}

.why-container{
    padding: 120px 200px 120px 200px ;
    display:grid;
    grid-template-columns:1fr 2fr ;
    grid-template-rows:1fr 2fr  ;
    /* grid-template-rows:  ; */
    gap: 40px;
    background-color: #351165;
   

}



















/* Featured Episodes */
#card-container{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 80px;
     display: flex;
  gap: 20px;
  width: 75%;
  

}


/* host section */


#host{background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 80px;
     display: flex;
  gap: 20px;
  width: 75%;

}














/* footer section */
#footer{

    background-image: url(assets/footer-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}



.copyright{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    

  }


.logo1{
    display: flex;

flex-wrap: wrap;
    align-items: center;
}

.logo2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    display:flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}












